@import url(./_font.scss);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 0, 0%, 93%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 222 100 61;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.3rem;
    --yellow: 44 98 62;
    --red: 356 74 52;
    --grey: 120 4 91;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;
    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;
    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 30, 7%, 5%;
    --secondary-foreground: 60 9.1% 97.8%;
    --muted: 30, 6%, 7%;
    --muted-foreground: 24 5.4% 63.9%;
    --accent: 222 100 61;
    --accent-foreground: 60 9.1% 97.8%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 60, 5%, 13%;
    --input: 60, 5%, 13%;
    --ring: 24 5.7% 82.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--muted-foreground);
}

.grid-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
  @media (min-width: 1280px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

.grid-end {
  grid-column-start: 1;
  @media (min-width: 768px) {
    grid-column-start: 3;
  }
  @media (min-width: 1024px) {
    grid-column-start: 4;
  }
  @media (min-width: 1080px) {
    grid-column-start: 5;
  }
}
