@import url(./_font.scss);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(20 14.3% 4.1%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(20 14.3% 4.1%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14.3% 4.1%);
    --primary: hsl(24 9.8% 10%);
    --primary-foreground: hsl(60 9.1% 97.8%);
    --secondary: hsl(0, 0%, 93%);
    --secondary-foreground: hsl(24 9.8% 10%);
    --muted: hsl(60 4.8% 95.9%);
    --muted-foreground: hsl(25 5.3% 44.7%);
    --accent: hsl(236, 100%, 50%);
    --accent-foreground: hsl(24 9.8% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(20 5.9% 90%);
    --input: hsl(20 5.9% 90%);
    --ring: hsl(20 14.3% 4.1%);
    --radius: 0.3rem;
  }

  .dark {
    --background: hsl(20 14.3% 4.1%);
    --foreground: hsl(60 9.1% 97.8%);
    --card: hsl(20 14.3% 4.1%);
    --card-foreground: hsl(60 9.1% 97.8%);
    --popover: hsl(20 14.3% 4.1%);
    --popover-foreground: hsl(60 9.1% 97.8%);
    --primary: hsl(60 9.1% 97.8%);
    --primary-foreground: hsl(24 9.8% 10%);
    --secondary: hsl(30, 7%, 5%);
    --secondary-foreground: hsl(60 9.1% 97.8%);
    --muted: hsl(30, 6%, 7%);
    --muted-foreground: hsl(24 5.4% 63.9%);
    --accent: hsl(236, 100%, 50%);
    --accent-foreground: hsl(60 9.1% 97.8%);
    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(60, 5%, 13%);
    --input: hsl(60, 5%, 13%);
    --ring: hsl(24 5.7% 82.9%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--muted-foreground);
}
